<ion-view view-title="Account">
  <ion-content>
    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="Anish">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Adhikari">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="anish531213@bison.howard.edu">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Classifiaction
    </div>
    
    <select>
      <option>Freshman</option>
      <option selected>Sophomore</option>
      <option>Junior</option>
      <option>Senior</option>
      <option>Grad Student</option>
      <option>Teachers and Staffs</option>
    </select>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">PhoneNumber</span>
    <input type="tel" placeholder="+1-1234567">
  </label>
</div>
  </ion-content>
</ion-view>
