<ion-view hide-nav-bar="true" view-title='HU' id="background">
  <ion-content class="padding">
    <div>
    <center>
    <p id="bisonsafe">Bison Safe</p></center>
    <center>
    <a id="nodeco" ng-href="#/map" onclick="OnClicked()">
    	<i id="notify" class="fa fa-street-view"></i>
        <p id="texts">Notify</a></p>
    </center>
    <center>
    <a id="nodeco" href="tel:+1-1800">
    	<i id="call" class="fa fa-phone-square"></i>
    	<p id="texts">Call</a></p>
    </center>
    <a id="nodeco getlatlong" onclick="OnClick()">
    <center>
    	<i id="alert" class="fa fa-exclamation-triangle"></i>
    	<p id="texts">Emergency</p></center>
    </center>
    </div>
  </ion-content>
</ion-view>
